.App {
    text-align: center;
}

body {
    background-color: #fefae0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*============================= Style the navigation bar ==============================*/
.navbar {
    background-color: #264653;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Full height */
    position: fixed; /* Make it stick to the left */
    left: 0;
    top: 0;
    width: 15vw; /* Width of the navbar */
    text-align: right;
}

/* Style the navigation buttons */
.navbar a {
    display: block;
    background-color: #264653;
    color: #ffffff;
    text-decoration: none;
    padding: 1vh 1vw;
    margin: 1vh;
    transition: background-color 0.3s ease;
}

/* Add a border to the active button */
.navbar a.active {
    content: '';
    left: 0;
    background: linear-gradient(
        to right,
        #e9c46a,
        #2a9d8f
    ); /* Gradient colors */
}

/* Optional: Add a subtle box-shadow for depth */
.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-tabs-left,
.navbar-tabs-right {
    display: block;
}

.navbar-tabs-right {
    justify-content: flex-end;
}

/*=====================================================================================*/
